@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --brightBlue: #01009f;
  --darkBlue: #556382;
  --darkYellow: #ebddba;
  --lighYellow: #f6f1e4;
  --gray: #e4e3e3;
  --offWhite: #f9f9f9;
}

header {
  background-color: var(--offWhite);
  font-family: "Nunito", sans-serif;
  color: #556382;
}

header img {
  text-align: center;
  width: 350px;
}

.logo {
  text-align: center;
}

a {
  color: #556382;
  text-decoration: none;
}

a:hover {
  color: #a6b1c6;
}

a:visited {
  color: #556382;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 900px;
  text-align: center;
  margin: auto;
}
