@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");

header {
  background-color: white;
}

header img {
  text-align: center;
  width: 450px;
}

.a {
  text-align: center;
  color: #556382;
  text-decoration: none;
}

.a:hover {
  color: #a6b1c6;
  text-decoration: none;
}

a:visited {
  color: #556382;
  text-decoration: none;
}

.link {
  font-family: "Nunito", sans-serif;
}
